.root {
    position: relative;
    left: -120px;

    @media (max-width: 1024px) {
        left: 0;
    }
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 40px;
    width: 300px;
    border-radius: 10px;
    font-size: 16px;
    transition: all .3s ease;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
}

.icon {
    width: 24px;
    height: 24px;
    opacity: .3;
    position: absolute;
    top: 10px;
    left: 12px;
}

.close {
    width: 20px;
    height: 20px;
    opacity: .3;
    position: absolute;
    top: 13px;
    right: 12px;
    cursor: pointer;

    &:hover {
        opacity: .5;
    }
}